// defining the color schemes

$yellow: #FCD91F;
$red: #F25230;
$white:#ffffff;
$black: #000000;
$blue: #0078B5;
$grey: #C4C4C4;
$green: #4C926D;
$grey2: #2F3131;

// defining the fonts 
$headingFont:'Fraunces',
serif;
$bodyFont:'Commissioner',
sans-serif;



// Univerisal selectors

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Navbar

.navbar {
  width: 100%;
  background-color: $white;
  color: #000000;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;


  &__list {
    text-decoration: none;
    padding: 0;
    margin: 0;

    &__item {
      text-decoration: none;
      color: $black;
      padding: 10px;
      font-size: 1.2rem;
      font-family: $headingFont;


    }


    &__item a {
      text-decoration: none;
      color: $black;
      width: 100%;
      padding: 10px;
      font-size: 1.2rem;
      font-family: $headingFont;

    }


    &__item:hover {
      color: $grey2;

    }
  }

  &__icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__icon:hover {
    background: #ddd;
    color: black;
  }
}


.active {
  background-color: #04AA6D;
  color: white;
}

// styling the home page

.landing {

  display: flex;
  flex-direction: column;
  width: 100%;

  // Styling the titles for the landing page
  &__titles {
    font-weight: bold;
    font-size: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: $headingFont;
  }

  // Styling the graphic for the landing page
  &__graphic {
    width: 100%;

    &__svg {
      width: 100%;
    }
  }
}

// end of landing page styling
// start of the projects page 

.projects {
  width: 100%;

  &__scrollText {
    width: 100%;
  }

  &__heading {
    font-size: 2em;
    min-height: 1vh;
    font-family: $headingFont;
    padding: 3rem 0 3rem 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  &__content {
    background-color: $grey;
    width: 100%;
    min-height: 185vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__graphic {
      padding-top: 10vh;
      padding-bottom: 10vh;
      width: 60%;

      &__svg {
        width: 100%;
      }
    }

    // Grid container
    &__list {
      width: 100%;
      display: grid;
      gap: 5vh;
      grid-template-columns: auto;
      justify-content: space-evenly;
      padding-bottom: 10vh;

      // individual grid items
      &__item {
        border: 2px solid $black;
        height: 50vh;
        width: 50vh;
        display: flex;
        justify-self: center;
        align-items: center;
        box-shadow: 1rem 1rem;


        // styling the image
        &__img {
          // could I style this as a background image? 
          height: 90%;
          width: 90%;
          justify-self: center;
        }
      }
    }
  }
}


.About {

  width: 100%;

  &__heading {
    font-size: 2em;
    min-height: 1vh;
    font-family: $headingFont;
    display: flex;
    justify-content: center;
  }

  &__content {
    width: 100%;
    background-color: $green;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


    &__graphic {
      width: 70%;
      margin: auto;

      &__svg {
        padding-top: 5vh;
        width: 100%;
      }

    }

    &__text {
      text-align: justify;
      margin: auto;
      font-size: 2em;
      width: 90%;
      font-family: $bodyFont;
      padding-bottom: 5vh;
    }
  }
}

// end of about section

// Contact me section 

.contact {
  width: 100%;
  min-height: 150vh;

  &__heading {
    font-size: 2em;
    min-height: 1vh;
    font-family: $headingFont;
    display: flex;
    justify-content: center;
    padding: 3rem 0 3rem 0;

  }

  &__figure {



    &__svg {
      padding-top: 5vh;


    }
  }

  &__form {
    min-height: 35vh;
    background-color: $blue;
    width: 90%;
    margin: 15vh auto 15vh auto;
    box-shadow: 3em 3em;
    padding: 5%;

    // form label{width: 100%;}

    &-label {
      width: 100%;
      font-size: 2em;
      padding-left: 2%;
      font-family: $bodyFont;
    }

    &-input {
      display: block;
      width: 80%;
      padding: 2%;
      /* Some padding */
      padding-left: 5%;
      margin-left: 5%;
      border: 1px solid #ccc;
      /* Gray border */
      border-radius: 4px;
      /* Rounded borders */
      box-sizing: border-box;
      /* Make sure that padding and width stays in place */
      margin-top: 6%;
      /* Add a top margin */
      margin-bottom: 6%;
      /* Bottom margin */
      resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */


    }

    &-submit {
      display: block;
      margin: auto;
      margin-bottom: 5%;
      width: 20%;
      background-color: $green;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;

    }

    &-submit:hover {
      background-color: green;
    }
  }
}

// end of contact form

// Footer section 

.footer {
  height: 10vh;
  width: 100%;
  background-color: hotpink;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;

  &__tag {
    font-family: $bodyFont;
    color: $black;
  }


  &__list a {
    text-decoration: none;
    padding: 0 0.5rem 0 0.5rem;
    font-size: 1.2rem;
  }
}


// styling the breakpoints: 

@media only screen and (min-width: 820px) {

  .landing {
    display: flex;
    flex-direction: row;
    height: 80vh;


    &__titles {
      width: 60%;
      font-size: 10rem;
      justify-content: space-evenly;
      padding-left: 10%;
      padding-bottom: 10%;

    }


    &__graphic {
      width: 40%;
      padding-right: 10%;
      display: flex;
      justify-content: center;
    }



  }

  .projects {

    &__scrollText {
      overflow: hidden;
    }



    &__content {
      width:100%;
      display: flex;
      flex-direction: row;
      
      
      &__graphic {
        width: 30%;
      }

      &__list {
        width: 70%;
      }

    }

  }







}