* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
.navbar__list {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.navbar__list__item {
  text-decoration: none;
  color: #000000;
  padding: 10px;
  font-size: 1.2rem;
  font-family: "Fraunces", serif;
}
.navbar__list__item a {
  text-decoration: none;
  color: #000000;
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  font-family: "Fraunces", serif;
}
.navbar__list__item:hover {
  color: #2F3131;
}
.navbar__icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.navbar__icon:hover {
  background: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.landing {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.landing__titles {
  font-weight: bold;
  font-size: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Fraunces", serif;
}
.landing__graphic {
  width: 100%;
}
.landing__graphic__svg {
  width: 100%;
}

.projects {
  width: 100%;
}
.projects__scrollText {
  width: 100%;
}
.projects__heading {
  font-size: 2em;
  min-height: 1vh;
  font-family: "Fraunces", serif;
  padding: 3rem 0 3rem 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.projects__content {
  background-color: #C4C4C4;
  min-height: 185vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__content__graphic {
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 60%;
}
.projects__content__graphic__svg {
  width: 100%;
}
.projects__content__list {
  width: 100%;
  display: grid;
  gap: 5vh;
  grid-template-columns: auto;
  justify-content: space-evenly;
  padding-bottom: 10vh;
}
.projects__content__list__item {
  border: 2px solid #000000;
  height: 50vh;
  width: 50vh;
  display: flex;
  justify-self: center;
  align-items: center;
  box-shadow: 1rem 1rem;
}
.projects__content__list__item__img {
  height: 90%;
  width: 90%;
  justify-self: center;
}

.About {
  width: 100%;
}
.About__heading {
  font-size: 2em;
  min-height: 1vh;
  font-family: "Fraunces", serif;
  display: flex;
  justify-content: center;
}
.About__content {
  width: 100%;
  background-color: #4C926D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.About__content__graphic {
  width: 70%;
  margin: auto;
}
.About__content__graphic__svg {
  padding-top: 5vh;
  width: 100%;
}
.About__content__text {
  text-align: justify;
  margin: auto;
  font-size: 2em;
  width: 90%;
  font-family: "Commissioner", sans-serif;
  padding-bottom: 5vh;
}

.contact {
  width: 100%;
  min-height: 150vh;
}
.contact__heading {
  font-size: 2em;
  min-height: 1vh;
  font-family: "Fraunces", serif;
  display: flex;
  justify-content: center;
  padding: 3rem 0 3rem 0;
}
.contact__figure__svg {
  padding-top: 5vh;
}
.contact__form {
  min-height: 35vh;
  background-color: #0078B5;
  width: 90%;
  margin: 15vh auto 15vh auto;
  box-shadow: 3em 3em;
  padding: 5%;
}
.contact__form-label {
  width: 100%;
  font-size: 2em;
  padding-left: 2%;
  font-family: "Commissioner", sans-serif;
}
.contact__form-input {
  display: block;
  width: 80%;
  padding: 2%;
  /* Some padding */
  padding-left: 5%;
  margin-left: 5%;
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6%;
  /* Add a top margin */
  margin-bottom: 6%;
  /* Bottom margin */
  resize: vertical;
}
.contact__form-submit {
  display: block;
  margin: auto;
  margin-bottom: 5%;
  width: 20%;
  background-color: #4C926D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact__form-submit:hover {
  background-color: green;
}

.footer {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
}
.footer__tag {
  font-family: "Commissioner", sans-serif;
  color: #000000;
}
.footer__list a {
  text-decoration: none;
  padding: 0 0.5rem 0 0.5rem;
  font-size: 1.2rem;
}

@media only screen and (min-width: 820px) {
  .landing {
    display: flex;
    flex-direction: row;
    height: 80vh;
  }
  .landing__titles {
    width: 60%;
    font-size: 10rem;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-bottom: 10%;
  }
  .landing__graphic {
    width: 40%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
  }

  .projects__scrollText {
    overflow: hidden;
  }
  .projects__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 100vh;
  }
  .projects__content__graphic {
    width: 30%;
  }
  .projects__content__list {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
  }
  .projects__content__list__item {
    height: 30vh;
    width: 30vh;
  }

  #project1 {
    grid-area: 1/1/2/2;
  }

  #project2 {
    grid-area: 1/2/2/3;
  }

  #project3 {
    grid-area: 1/3/2/4;
  }

  #project4 {
    grid-area: 2/1/3/2;
  }

  #project5 {
    grid-area: 2/2/3/3;
  }

  #project6 {
    grid-area: 2/3/3/4;
  }

  .About__content {
    min-height: 80vh;
  }

  .contact__flex {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
  }
  .contact__flex__figure {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
  }
  .contact__flex__form {
    width: 50%;
    min-height: 0vh;
    background-color: #0078B5;
    margin: 5vh auto 5vh auto;
  }
}